/* ================================================ */
/* ================ main.scss ===================== */
/* ================================================ */

// @import './_variables.scss';

/* ================================================ */
/* ================ body-blind ==================== */
/* ================================================ */

.body-blind--set {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  // width: 100%;
  // height: 100svh;
  opacity: 0;
  transform: scale(0);
}

.body-blind--active {
  transform: scale(1);
}

.stop-scroll {
  overflow: hidden;
}

/* ============================================ */
/* ================ header ==================== */
/* ============================================ */

.header--set {
  padding: 0 315px;
  background-color: $black-medium;
}

.header__container {
  position: relative;
  display: grid;
  grid-template-columns: minmax(226px, 328.5px) auto min-content;
  grid-template-rows: min-content;
}

.header__logo-wrap {
  padding: 24px 0 26.3px;
}

.header__box {
  padding-top: 30px;
}

.header__burger-open-btn {
  position: relative;
  display: none;
  width: 20px;
  height: 18px;
  outline: none;

  &::after {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    outline: none;
    border: 2px solid $mango;
    outline: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
}

.header__burger-open-btn--hidden {
  visibility: hidden;
}

.header__burger-open-btn-svg {
  fill: $white;
  transition: fill 0.3s ease-in-out;
}

.header__burger-open-btn {
  &:focus-visible::after {
    opacity: 1;
  }

  &:active .header__burger-open-btn-svg {
    fill: $orange;
  }
}

@media (hover: hover) {
  .header__burger-open-btn:hover {
    &::after {
      opacity: 0;
    }

    .header__burger-open-btn-svg {
      fill: $mango;
    }
  }
}

.header__burger-box {
  width: 100%;
}

.header__burger-close {
  display: none;
  margin-bottom: 16px;
}

.nav__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, max-content));

  /* grid-template-columns: repeat(5, max-content); */
  grid-template-rows: min-content;
  justify-content: space-between;
  padding-right: 60px;
  max-width: 802px;
  min-width: 600px;
  width: 100%;
}

.nav__link {
  position: relative;
  z-index: 1;
  display: inline-block;
  vertical-align: middle;
  font-family: $second-family;
  font-weight: 400;
  font-size: 16px;
  color: $white;
  outline: none;
  transform-style: preserve-3d;
  transition: color 0.3s ease-in-out;

  &::after {
    position: absolute;
    content: "";
    top: -3px;
    right: -5px;
    bottom: -3px;
    left: -3px;
    background-color: $brown;
    outline: none;
    opacity: 0;
    transform: translateZ(-1px);
    transition: opacity 0.3s ease-in-out;
  }

  &:focus-visible::after {
    opacity: 1;
  }

  &:active {
    color: $orange;
  }
}

@media (hover: hover) {
  .nav__link:hover {
    &::after {
      opacity: 0;
    }

    color: $mango;
  }
}

.header__burger-tel {
  display: none;
}

.header__search-btn-wrap {
  padding-top: 30px;
}

.header__search-btn {
  position: relative;
  outline: none;
  width: 25px;
  height: 25px;

  &::after {
    content: "";
    position: absolute;
    top: -7px;
    right: -7px;
    bottom: -7px;
    left: -7px;
    border: 2px solid $mango;
    outline: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
}

.header__search-btn--hidden {
  visibility: hidden;
}

.header__search-btn-svg {
  fill: $white;
  transition: fill 0.3s ease-in-out;
}

.header__search-btn {
  &:focus-visible::after {
    opacity: 1;
  }

  &:active .header__search-btn-svg {
    fill: $orange;
  }
}

@media (hover: hover) {
  .header__search-btn:hover {
    &::after {
      opacity: 0;
    }

    .header__search-btn-svg {
      fill: $mango;
    }
  }
}

.header__window-search {
  position: absolute;
  top: 25px;
  right: 0;
  z-index: 5;
  display: grid;
  grid-template-columns: auto min-content;
  grid-template-rows: min-content;
  column-gap: 11px;
  max-width: 342px;
  width: 100%;
  min-height: 30px;
  background-color: $black-medium;
  visibility: hidden;
  transform: scaleX(0);
  transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.header__window-search--active {
  visibility: visible;
  transform: scaleX(1);
}

.header__input-search {
  border: none;
  border-bottom: 1px solid $grey-light;
  padding: 7px 0 1px 2px;
  width: 100%;
  font-family: $second-family;
  font-weight: 400;
  font-size: 16px;
  color: $grey-light;
  background-color: $black-medium;
  outline: none;
  transition: border-color 0.3s ease-in-out;

  &:focus, &:active {
    border-color: $orange;
  }
}

@media (hover: hover) {
  .header__input-search:hover {
    border-color: $mango;
  }
}

/* ============================================ */
/* ================ hero ====================== */
/* ============================================ */

.hero--set {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content;
  column-gap: 30px;
  padding: 41px 315px 67px;
  background-color: $white;
}

.hero__left {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: end;
  padding: 0 0 60px 58px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/hero_1920_0.jpg);
}

.hero__content {
  max-width: 427px;
  width: 100%;
}

.hero__span {
  display: inline-block;
  padding-left: 1px;
  margin-bottom: 3px;
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
  color: $white;
}

.hero__title {
  margin: 0;
  margin-bottom: 19px;
  font-family: $second-family;
  font-weight: 700;
  font-size: 36px;
  line-height: 104%;
  color: $white;
}

.hero__link-wrap {
  padding-left: 2px;
}

.hero__right {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content auto;
}

.hero__title-work {
  margin: 0;
  margin-bottom: 18px;
  font-family: $second-family;
  font-weight: 700;
  font-size: 24px;
  line-height: 104%;
  color: $black-medium;
}

.hero__list {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content;
  gap: 30px;
}

.hero__item:first-child {
  grid-column: 1 / 3;
}

.hero_picture {
  display: inline-block;
  vertical-align: middle;
}

.hero_img {
  vertical-align: middle;
}

/* ============================================ */
/* ================ about ===================== */
/* ============================================ */

.about--set {
  padding: 32px 315px 70px;
  background-color: $black-medium;
}

.about__title {
  margin: 0;
  margin-bottom: 3px;
  font-family: $second-family;
  font-weight: 700;
  font-size: 24px;
  color: $white;
}

.about__box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content;
  column-gap: 30px;
}

.about__left {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  padding-top: 3px;
}

.about_descr {
  margin: 0;
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: $grey-medium;
}

.about__right {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto min-content;
}

.about__img {
  margin-bottom: 23.92px;
  min-height: 255px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/about_1920_1.jpg);
}

.about__form-title {
  margin: 0;
  margin-bottom: 16.02px;
  font-family: $second-family;
  font-weight: 400;
  font-size: 24px;
  line-height: 92%;
  color: $white;
}

.about__form-wrap {
  display: grid;
  grid-template-columns: minmax(0, 474px) min-content;
  grid-template-columns: auto min-content;
  grid-template-rows: min-content;
  column-gap: 30px;
}

/* =============================================== */
/* ================ progects ===================== */
/* =============================================== */

.projects--set {
  padding: 70px 315px 69px;
  background-color: $white;
}

.projects__title {
  margin: 0;
  margin-bottom: 14px;
  font-family: $second-family;
  font-weight: 700;
  font-size: 24px;
  color: $black-medium;
}

/* --- */

.projects__list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: min-content min-content;
  column-gap: 30px;
  row-gap: 30px;
  grid-template-areas: "block-one block-one block-two block-two block-three block-three block-four block-four block-four block-four block-four block-four" "block-five block-five block-five block-five block-five block-five block-six block-six block-six block-seven block-seven block-seven";
}

.projects__item {
  &:nth-child(1) {
    grid-area: block-one;
  }

  &:nth-child(2) {
    grid-area: block-two;
  }

  &:nth-child(3) {
    grid-area: block-three;
  }

  &:nth-child(4) {
    grid-area: block-four;
  }

  &:nth-child(5) {
    grid-area: block-five;
  }

  &:nth-child(6) {
    grid-area: block-six;
  }

  &:nth-child(7) {
    grid-area: block-seven;
  }
}

.projects-card--set {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(0, 184px) auto;
}

.projects-card__img {
  min-height: 184px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.projects__item {
  &:nth-child(1) .projects-card__img {
    background-image: url(../img/project_1920_1.jpg);
  }

  &:nth-child(2) .projects-card__img {
    background-image: url(../img/project_1920_2.jpg);
  }

  &:nth-child(3) .projects-card__img {
    background-image: url(../img/project_1920_3.jpg);
  }

  &:nth-child(6) .projects-card__img {
    background-image: url(../img/project_1920_6.jpg);
  }

  &:nth-child(7) .projects-card__img {
    background-image: url(../img/project_1920_7.jpg);
  }
}

.projects-card__content {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto min-content;
}

.projects-card__descr {
  margin: 0;
  margin-bottom: 12px;
  height: 66px;
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 137%;
  color: $black-medium;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.projects-card__date {
  vertical-align: middle;
  padding-left: 18px;
  font-family: $font-family;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: $grey-bold;
  background-position: left center;
  background-position: left top;
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-image: url(../img/calendar_gray.png);
}

/* --- */

.projects-lecture--set {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto min-content;
  padding: 22px 0 30px 30px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.projects__item {
  &:nth-child(4).projects-lecture--set {
    background-image: url(../img/project_1920_4.jpg);
  }

  &:nth-child(5).projects-lecture--set {
    background-image: url(../img/project_1920_5.jpg);
  }
}

.projects-lecture__content {
  max-width: 293px;
  width: 100%;
}

.projects-lecture__date {
  vertical-align: middle;
  display: inline-block;
  margin-bottom: 2px;
  padding-left: 18px;
  font-family: $font-family;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: $white;
  background-position: left center;
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-image: url(../img/calendar_white.png);
}

.projects-lecture__title {
  margin: 0;
  margin-bottom: 6px;
  font-family: $second-family;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  color: $white;
}

.projects-lecture__descr {
  margin: 0;
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 137%;
  color: $white;
}

.projects-lecture__content {
  padding-bottom: 10px;
}

.projects-lecture__link {
  display: inline-block;
  vertical-align: middle;
  border: 3px solid $mango;
  padding: 13px 21px 12px 19px;
  min-width: 116px;
  min-height: 50px;
  font-family: $font-family;
  font-weight: 700;
  font-size: 16px;
  color: $white;
  outline: none;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;

  &:focus-visible {
    background-color: $brown;
  }

  &:active {
    border-color: $orange;
    background-color: $orange;
  }
}

@media (hover: hover) {
  .projects-lecture__link:hover {
    background-color: $mango;
  }
}

/* ============================================== */
/* ================ contacs ===================== */
/* ============================================== */

.contacts--set {
  padding: 0 315px 67px;
  background-color: $white;
}

.contacts__title {
  margin: 0;
  margin-bottom: 17px;
  font-family: $second-family;
  font-weight: 700;
  font-size: 24px;
  color: $black-medium;
}

.contacts__box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: min-content;
  column-gap: 30px;
}

.contacts__layer {
  height: 7px;
}

.contacts__map-wrap {
  grid-column: 1 / 3;
}

.contacts__map {
  position: relative;
  height: calc(100% - 7px);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/map_1920.jpg);
}

.contacts__blind {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 410px;
  width: 100%;
  height: 100%;
  padding: 175px 50px 0 60px;
  background-color: rgba(32, 32, 32, 0.85);
}

.contacts__blind-close-btn-wrap {
  position: absolute;
  top: 20px;
  right: 20px;
}

.contacts__address-title {
  margin: 0;
  margin-bottom: 5px;
  font-family: $second-family;
  font-weight: 400;
  font-size: 24px;
  line-height: 92%;
  color: $white;
}

.contacts__address-descr {
  margin: 0;
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  font-style: normal;
  color: $grey-medium;
}

.contacts__form {
  grid-column: 3 / 4;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content auto repeat(4, min-content);

  /* grid-template-rows: repeat(6, min-content); */
}

.contacts__form-title {
  margin: 0;
  margin-bottom: 5px;
  font-family: $second-family;
  font-weight: 400;
  font-size: 24px;
  line-height: 92%;
  color: $black-medium;
}

.contacts__form-descr {
  margin: 0;
  margin-bottom: 16.16px;
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 137%;
  color: $grey-bold;
}

.contacts__form-input {
  margin-bottom: 20px;
}

/* ============================================ */
/* ================ footer ==================== */
/* ============================================ */

.footer--set {
  display: grid;
  grid-template-columns: minmax(263px, 440px) auto min-content;
  grid-template-rows: min-content;
  padding: 24px 315px 16px;
  background-color: $black-medium;
}

.footer__descr {
  margin: 0;
  padding-right: 50px;
  width: 411px;
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 137%;
  color: $grey-medium;
}

.footer__social-wrap {
  min-width: 162px;
}

.footer__social-descr {
  display: block;
  margin-bottom: 8px;
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 137%;
  text-align: center;
  color: $grey-medium;
}

.footer__social-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, max-content));
  justify-content: center;
  column-gap: 20px;
}

.footer__social-link {
  display: inline-block;
  width: 30px;
  height: 30px;
  outline: none;
}

.footer__social-link-svg {
  fill: $grey-medium;
  transition: fill 0.3s ease-in-out;
}

.footer__social-link {
  &:focus-visible .footer__social-link-svg {
    fill: $brown;
  }

  &:active .footer__social-link-svg {
    fill: $orange;
  }
}

@media (hover: hover) {
  .footer__social-link:hover .footer__social-link-svg {
    fill: $mango;
  }
}
