/* ============================================ */
/* ============= variables ==================== */
/* ============================================ */

  /* fonts */
  $font-family:"Roboto", sans-serif;
  $second-family:"TT Firs Neue", sans-serif;

  /* color */
  $background:#E5E5E5;
  $mango:#FF6E30;
  $brown:#BC572B;
  $orange:#CE4307;
  $red-medium:#F06666;
  $red-bold:#FF3030;
  $red-light:#FFD4C1;
  $white:#FFF;
  $grey-light:#E9E9E9;
  $grey-medium:#CACACA;
  $grey-bold:#999;
  $grey:#808080;
  $black-light:#4A4A4A;
  $black-medium:#202020;
  $black:#000;
